body {
    font-family: Mukta;
    color: #070608;
    font-size: 18px;
    margin: 0;
    }

.banner {
    background-image: url(flia3.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px;    
    font-weight: 700;
    text-align: center;
    color: black;
    position: relative;
}

.banner:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

.banner h1 {
	color: white;
	position: relative;
	font-size: 2em;
}

.banner p {
	color: white;
	position: relative;
	font-size: 1.2em;
}

#botoncito  {
	background-color: #00727F;
	color: white;
	font-family: Mukta;
	font-size: 1em;
	font-weight: 600;
}

.container {
	width: 900px;
  	margin: 60px auto;
	font-size: 0.8em;
    font-weight: 300;
    text-align: justify;
    color: ##521313;
}

.container h2 {
	text-align: center;
	font-size: 2.1em;
	color: #00727F;
}

 .recetas {
    display: flex;
	justify-content: space-evenly;
	gap: 16px;
	color: black;
}

.recetas p {
    color: black;
    font-size: 1.4em;
}

.recetas ul {
    color: black;
    font-size: 1.2em;
}

.imagen {
	width: 300px;
	background-color: white;
	padding: 4px;
	margin: 8px;
	box-shadow: 0 0 8px #042D57;
	border-radius: 25px;
}

.imagen img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 25px;
}

h1 {
	color: #2006CA;
}

h3 {
	text-align: center;
	color: #08074F;
	font-size: 1.5em;
}

.footer {
	font-size: 0.8em;
	text-align: center;
	background-color: grey;
	color: white;
}

a {
	text-decoration: none;
}